


<!-- ******************************************************** -->

<!-- <div>
    <h1>{{title}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, similique. Necessitatibus, cum iure? Dolorem nulla quos beatae nisi, porro quae non nemo eligendi dolore doloribus.</p>

    <button>Components</button>
</div> -->

<!-- ********************************************************* -->






<div class="cart-box" [title]="test" (click)="testFn()">
    <h2 class="cart-title">{{myTitle}}</h2>
    <p class="cart-desc">{{desc}}</p>
    <div class="cart-footer">
        <p>{{myFooter}}</p>
    </div>
</div>